
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Rubik;
    width:100%;
    height:100%;
}

.hoverBox{
    display: none;
    justify-content: center;
    background: white;
    box-shadow: 0 0 20px -12px rgba(0,0,0,0.5);
    /* padding:25px; */
    position:absolute;
    top:65px;
    left:-150px;
    overflow: hidden;
}
.hoverBox:hover{
    display: flex;
    
}

.Men:hover~.hoverBox{
    display: flex;
   ;
    
}
.Women:hover~.hoverBox{
    display: flex;
   
    
}
.Kids:hover~.hoverBox{
    display: flex;
}
.Beauty:hover~.hoverBox{
    display: flex;
}
   
    

.hoverBox>div>div>p{
    cursor: pointer;
}
.hoverBox>div>div>p:hover{
    scale:1.03;
    color:rgba(0,0,0,0.8)
}